
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="/" method="post">
    <input type="text" name="Username" value="" /><br />
    <input type="password" name="Password" value="" /><br />
    <input type="Submit"  value="Login" />
</form>